.tuc-section-image {
    background: url('http://res.cloudinary.com/dak42/image/upload/v1439180644/apinic/section_tuc.jpg') center top no-repeat;
    background-size: cover;
    height: 400px;
}

.response-container {
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding: 3px;
}

.loading-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mdl-spinner {
  display: none;
}
